[submodule "deps/Unity"]
	path = deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "deps/CMock"]
	path = deps/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "deps/minunit"]
	path = deps/minunit
	url = https://github.com/siu/minunit.git
[submodule "deps/inih"]
	path = deps/inih
	url = https://github.com/benhoyt/inih.git
